body {
      font-family: Arial, sans-serif;
      background-color: rgb(255, 249, 242);
      text-align: center;
  }

  h1 {
      font-size: 24px;
      text-shadow: 0 0 10px rgb(207, 126, 165);
  }

  h2 {
      font-size: 18px;
  }

  .button-container {
      margin: 20px;
  }

  button {
      padding: 10px 20px;
      margin: 5px;
      font-size: 16px;
      background-color: rgb(54, 34, 44);
      color: white;
      border: none;
      cursor: pointer;
  }

  button:hover {
      background-color: rgb(207, 126, 165);
      box-shadow: 0 0 10px rgb(207, 126, 165);
  }

  #my_dataviz {
      background-color: white;
      border: 1px solid #ccc;
      border-radius: 1px;
      padding: 20px;
      box-shadow: 0 0 10px rgb(207, 126, 165);
  }

  
  #footer {
        background-color: rgb(54, 34, 44);
        color: white;
        padding: 10px;
    }